{
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "warn", // 或者 "error"
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ]
  }
}